<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <add key="self" value="channel_name" />
  <add key="oauth" value="oauth:key" />
  <add key="client_id" value="reallylongclientidkey" />
  <add key="min_viewers" value="50" />
  <add key="discovery_time_in_ms" value="600000" />
  <add key="max_connections_per_client" value="50" />
</configuration>